---
import { Button } from "../components/Button";
import { ModalButton } from "../components/ModalButton";
import { ItemForm } from "../components/ItemForm";
import { SummaryCard } from "../components/SummaryCard";
import { AddItemModal } from "../components/AddItemModal";
import { Backdrop } from "../components/Backdrop";
import Layout from "../layouts/Layout.astro";
import { CompareButton } from "../components/Compare";
---

<Layout>
  <main class="flex max-w-screen-md flex-col items-center">
    <div class="flex w-full flex-row justify-end py-4">
      <ModalButton text="Add" color="orange" client:load />
    </div>
    <ItemForm client:load />
    <section class="my-2 flex w-full flex-row justify-between">
      <Button text="Clear" color="gray" client:load />
      <CompareButton client:load />
    </section>

    <article class="mt-6 w-full">
      <SummaryCard client:load />
    </article>
  </main>

  <!-- modal -->
  <Backdrop client:load />
  <AddItemModal client:load />
</Layout>
