---
import { Button } from "../components/Button";
import { ModalButton } from "../components/ModalButton";
import { ItemForm } from "../components/ItemForm";
import { SummaryCard } from "../components/SummaryCard";
import { AddItemModal } from "../components/AddItemModal";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main class="flex max-w-screen-md flex-col items-center">
    <div class="flex w-full flex-row justify-end py-4">
      <ModalButton text="Add" color="orange" client:load />
    </div>
    <ItemForm />
    <section class="my-2 flex w-full flex-row justify-between">
      <Button text="Clear" color="gray" client:load />
      <Button text="Calculate" color="blue" client:load />
    </section>

    <article><SummaryCard /></article>
  </main>
  <AddItemModal client:load />
</Layout>
