---
import { ModalButton } from "../components/ModalButton";
import { ItemListForm } from "../components/ItemListForm";
import { SummaryCard } from "../components/SummaryCard";
import { AddItemModal } from "../components/AddItemModal";
import { Backdrop } from "../components/Backdrop";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="m-2 flex grow flex-col items-center lg:max-w-screen-md">
    <div class="flex w-full flex-row justify-end py-4">
      <ModalButton text="Add" color="orange" client:load />
    </div>
    <ItemListForm client:load />

    <SummaryCard client:load />
  </main>
</Layout>
