---
import { ModalButton } from "../components/ModalButton";
import { ItemListForm } from "../components/ItemListForm";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main
    class="lg:max-w-screen mx-2 flex flex-col items-center lg:min-w-[54rem]"
  >
    <div class="flex w-full flex-row justify-end py-4">
      <ModalButton text="Add" color="blue" client:load />
    </div>
    <ItemListForm client:load />
  </main>
</Layout>
