---
import { ItemListForm } from "../components/ItemListForm";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main
    class="lg:max-w-screen mx-2 flex h-full flex-col items-center text-sm lg:min-w-[54rem] lg:text-base"
  >
    <div class="mt-8 flex h-full w-full justify-center">
      <ItemListForm client:load />
    </div>
  </main>
</Layout>
