---
import { ModalButton } from "../components/ModalButton";
import { ItemForm } from "../components/ItemForm";
import { SummaryCard } from "../components/SummaryCard";
import { AddItemModal } from "../components/AddItemModal";
import { Backdrop } from "../components/Backdrop";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="m-2 flex max-w-screen-md flex-col items-center">
    <div class="flex w-full flex-row justify-end py-4">
      <ModalButton text="Add" color="orange" client:load />
    </div>
    <ItemForm client:load />

    <article class="mt-6 w-full">
      <SummaryCard client:load />
    </article>
  </main>

  <!-- modal -->
  <Backdrop client:load />
  <AddItemModal client:load />
</Layout>
